@import url("photographer.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  font-family: DM Sans;
  max-width: 1440px;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 100px 0;
  text-align: center;
}

.photographer_section article,
.photographer_section article a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.photographer_section article h2,
.photograph-header div h2 {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
}

.photographer_section article h3,
.photograph-header div h3 {
  color: #901c1c;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

.photographer_section article img,
.photograph-header img {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 100px;
  margin-bottom: 20px;
}

.photographer_section article div {
  text-align: center;
}

.photographer_section article div p,
.photograph-header div p {
  font-size: 15px;
}

.price {
  margin-top: 5px;
  color: #757575;
}
